.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;

  // top: 10%;
  // left: auto;
  height: 100%;
  width: 100%;

  background-color: black;

  z-index: $player-index;
}

.player-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;

  position: fixed;

  top: 5%;
  left: 55px;
  right: 55px;

  z-index: 1;
}

.player-controls i {
  font-size: 32px;

  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  cursor: pointer;

  &.right {
    margin-left: auto;
  }
}

.player-title {
  position: fixed;

  top: 360px;
  left: 50%;

  max-width: 60%;

  transform: translateX(-50%);

  font-size: 16px;
  font-weight: 500;

  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  text-overflow: ellipsis;

  overflow: hidden;
  white-space: nowrap;

  z-index: 1;
}

.player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

@media (max-width: 768px) {
  .player {
    margin-top: 10vh;
    width: 100%;
    height: 90%;
  }

  .player-controls {
    top: 7%;
    left: 20px;
    right: 20px;
  }

  .player-controls i {
    font-size: 26px;
  }

  .player-title {
    top: 70px;
    font-size: 14px;
  }

}

@media (max-width: 400px) {
  .player-controls {
    top: 10%;
    left: 20px;
    right: 20px;
  }

  .player {
    margin-top: 15vh;
    width: 100%;
    height: 85%;
  }
}